@model Pozdravlyator.WebApp.Models.UserViewModel
@{
    ViewData["Title"] = "Edit " + Model.GetFullName();
}
<style>
    .error{
        color:red;
        font-size:12px;
    }
</style>
<form action="/home/Edit" method="post">
    <input hidden asp-for="Id" />
    <div class="form-group mb-2">
        <label>Имя</label>
        <input type="text" class="form-control" placeholder="Введите имя" asp-for="FirstName" />
        <span class="error" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group mb-2">
        <label>Фамилия</label>
        <input type="text" class="form-control" placeholder="Введите фамилию" asp-for="LastName" />
        <span class="error" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group mb-2">
        <label>День рождения</label>
        <input type="date" class="form-control" placeholder="Введите дату" asp-for="BirthdayString" />
        <span class="error" asp-validation-for="BirthdayString"></span>
    </div>
    <div class="form-group mb-2">
        <label>Адрес</label>
        <input type="text" class="form-control" placeholder="Введите адрес" asp-for="Adress" />
        <span class="error" asp-validation-for="Adress"></span>
    </div>
    <button class="btn btn-primary mt-3" type="submit">Сохранить</button>
</form>
